.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 4rem;
  margin: 2rem auto;
  max-width: 80rem;
  border: 1px solid var(--highlight);
}

.title {
  font-size: 3.6rem;
  font-weight: var(--font-light);
  font-family: var(--font-fancy);
  margin-bottom: 3rem;
  text-align: center;
  color: var(--foreground);
}

.timeContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.timeUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 8rem;
}

.number {
  font-size: 4.8rem;
  font-weight: var(--font-light);
  font-family: var(--font-primary);
  color: var(--foreground);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 1.4rem;
  font-weight: var(--font-regular);
  font-family: var(--font-primary);
  color: var(--foreground);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.separator {
  font-size: 3.6rem;
  font-weight: var(--font-bold);
  color: var(--foreground);
  margin: 0 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .countdown {
    margin-inline: 4rem;
  }
  .title {
    font-size: 2.8rem;
  }
  
  .number {
    font-size: 3.6rem;
  }
  
  .separator {
    font-size: 2.8rem;
    margin: 0 0.5rem;
  }
  
  .timeContainer {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .countdown {
    padding: 2rem;
  }
  .timeContainer {
    gap: unset;
  }
}
@media (max-width: 500px) {
  .timeUnit {
    min-width: unset;
  }
  .number {
    font-size: 3rem;
  }
  .label {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .countdown {
    margin-inline: 2rem;
  }

  .title {
    margin-bottom: 1rem;
  }
  .timeContainer {
    gap: unset;
  }
}

@media (max-width: 346px) {
  .countdown {
    padding: 1rem;
  }
  .number {
    font-size: 2.5rem;
  }
}