
.mainImage {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mainImage > img {
  position: relative;
  z-index: 2;
}

.mainHeader {
  font-size: 9rem;
  font-family: var(--font-fancy);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  text-shadow:  var(--text-shadow);
}

.leftFlowers {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-70%) rotate(-10deg) translateY(-5%); 
  z-index: 1;
  filter: var(--brightness);
}

.leftFlowers img {
  position: relative;
  z-index: 1;
}

.rightFlowers {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(60%) rotate(10deg) translateY(-5%) scale(-1, 1); 
  z-index: 1;
  filter: var(--brightness);
}

.rightFlowers img {
  position: relative;
  z-index: 1;
}